extends auth

block auth
  form.signin.form-horizontal.pull-right(action="/users/session", method="post")
    .form-group
      label.control-label(for='email') Email
        input#email.form-control(type='text', name="email", placeholder='Email')

    .form-group
      label.control-label(for='password') Password
        input#password.form-control(type='password', name="password", placeholder='Password')

    .form-actions
      button.btn.btn-primary(type='submit') Accede
      &nbsp;
      | o&nbsp;
      a.show-signup(href="/signup") Date de alta
